<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Ficha del Cliente</title>
</head>

<body>

<h1 th:text="${cliente.nombre}"></h1>

<p>
  <strong>ID:</strong>
  <span th:text="${cliente.idCliente}"></span>
</p>

<p>
  <strong>Teléfono:</strong>
  <span th:text="${cliente.telefono}"></span>
</p>

  <strong>Estatus:</strong>

  <span th:if="${estatusMembresia == 'ACTIVO'}"
        style="color: green; font-weight: bold;">
        🟢 ACTIVO
    </span>

  <span th:if="${estatusMembresia == 'VENCE_PRONTO'}"
        style="color: orange; font-weight: bold;">
        🟡 VENCE PRONTO
    </span>

  <span th:if="${estatusMembresia == 'VENCIDO'}"
        style="color: red; font-weight: bold;">
        🔴 VENCIDO
    </span>

  <span th:if="${estatusMembresia == 'SIN_MEMBRESIA'}"
        style="color: gray; font-weight: bold;">
        ⚪ SIN MEMBRESÍA
    </span>
</p>
<p>
  <strong>Vence:</strong>

  <span th:if="${cliente.fechaVencimiento != null}"
        th:text="${#temporals.format(
                  cliente.fechaVencimiento,
                  'dd/MM/yyyy HH:mm')}">
    </span>

</p>
<hr>

<button type="button"
        th:onclick="|window.location.href='@{/pagos/nuevo/{idCliente}(idCliente=${cliente.idCliente})}'|">

  Registrar pago

</button>
<button type="button"
        th:onclick="|window.location.href='@{/credenciales/{idCliente}(idCliente=${cliente.idCliente})}'|">

  Descargar credencial

</button>

<a th:href="@{/clientes/editar/{id}(id=${cliente.idCliente})}">

  Editar cliente

</a>
<hr>

<h2>Historial de pagos</h2>

<table border="1">

  <tr>
    <th>Fecha</th>
    <th>Monto</th>
  </tr>

  <tr th:each="pago : ${pagos}">

    <td th:text="${#temporals.format(
                pago.fechaPago,
                'dd/MM/yyyy HH:mm')}">
    </td>

    <td th:text="${'$' + pago.montoPagado}">
    </td>

  </tr>

</table>

<hr>

<h2>Historial de asistencias</h2>

<table border="1">

  <tr>
    <th>Fecha</th>
  </tr>

  <tr th:each="asistencia : ${asistencias}">

    <td th:text="${#temporals.format(
                asistencia.fechaHora,
                'dd/MM/yyyy HH:mm')}">
    </td>

  </tr>

</table>

</body>
</html>