<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Nuevo Cliente</title>
</head>
<body>

<h1>Registrar cliente</h1>

<form th:action="@{/clientes/guardar}"
      th:object="${cliente}"
      method="post">

  <div>

    <label>Nombre:</label>

    <input type="text"
           th:field="*{nombre}"
           required>

  </div>

  <br>

  <div>

    <label>Teléfono:</label>

    <input type="text"
           th:field="*{telefono}">

  </div>

  <br>

  <button type="submit">

    Guardar

  </button>

</form>

</body>
</html>