<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet">

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <title>Dashboard - GAZO Fitness</title>
</head>

<body>

<h1>Dashboard GAZO Fitness</h1>

<hr>

<h2>Clientes activos:</h2>

<h3 th:text="${clientesActivos}"></h3>

<hr>

<h2>Asistencias hoy:</h2>

<h3 th:text="${asistenciasHoy}"></h3>

<hr>

<h2>Ingresos hoy:</h2>

<h3 th:text="'$' + ${ingresosHoy}"></h3>

<hr>

<h2>Ingresos del mes:</h2>

<h3 th:text="'$' + ${ingresosMes}"></h3>

<hr>

<h2>Próximos vencimientos</h2>

<table border="1">

  <tr>
    <th>Cliente</th>
    <th>Vence</th>
  </tr>

  <tr th:each="cliente : ${proximosVencimientos}">

    <td th:text="${cliente.nombre}"></td>

    <td th:text="${#temporals.format(cliente.fechaVencimiento,
                                         'dd/MM/yyyy HH:mm')}"></td>

  </tr>

</table>
<hr>

<h2>Últimos pagos registrados</h2>

<div th:if="${#lists.isEmpty(ultimosPagos)}">

  <p>No hay pagos registrados.</p>

</div>

<table
        th:unless="${#lists.isEmpty(ultimosPagos)}"
        border="1">

  <tr>
    <th>Fecha</th>
    <th>Cliente</th>
    <th>Membresía</th>
    <th>Monto</th>
    <th>Método</th>
  </tr>

  <tr th:each="pago : ${ultimosPagos}">

    <td th:text="${#temporals.format(
                pago.fechaPago,
                'dd/MM/yyyy HH:mm')}">
    </td>

    <td th:text="${pago.cliente.nombre}">
    </td>

    <td th:text="${pago.membresia.nombre}">
    </td>

    <td th:text="${'$' + pago.montoPagado}">
    </td>

    <td th:text="${pago.metodoPago}">
    </td>

  </tr>

</table>

<hr>

<h2>Últimas asistencias registradas</h2>

<div th:if="${#lists.isEmpty(ultimasAsistencias)}">

  <p>No hay asistencias registradas.</p>

</div>

<table
        th:unless="${#lists.isEmpty(ultimasAsistencias)}"
        border="1">

  <tr>
    <th>Fecha y hora</th>
    <th>Cliente</th>
  </tr>

  <tr th:each="asistencia : ${ultimasAsistencias}">

    <td th:text="${#temporals.format(
                asistencia.fechaHora,
                'dd/MM/yyyy HH:mm')}">
    </td>

    <td th:text="${asistencia.cliente.nombre}">
    </td>

  </tr>

</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>