<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dashboard - GAZO Fitness</title>
</head>

<body>

<h1>Dashboard GAZO Fitness</h1>

<hr>

<h2>Clientes activos:</h2>

<h3 th:text="${clientesActivos}"></h3>

<hr>

<h2>Asistencias hoy:</h2>

<h3 th:text="${asistenciasHoy}"></h3>

<hr>

<h2>Ingresos hoy:</h2>

<h3 th:text="'$' + ${ingresosHoy}"></h3>

<hr>

<h2>Ingresos del mes:</h2>

<h3 th:text="'$' + ${ingresosMes}"></h3>

<hr>

<h2>Próximos vencimientos</h2>

<table border="1">

  <tr>
    <th>Cliente</th>
    <th>Vence</th>
  </tr>

  <tr th:each="cliente : ${proximosVencimientos}">

    <td th:text="${cliente.nombre}"></td>

    <td th:text="${#temporals.format(cliente.fechaVencimiento,
                                         'dd/MM/yyyy HH:mm')}"></td>

  </tr>

</table>

</body>
</html>