<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GAZO Gym System</title>
</head>
<body>

<h1>GAZO Gym System</h1>

<form th:action="@{/login}" method="post">

    <div>
        <label>Usuario:</label>
        <input type="text"
               name="username"
               required>
    </div>

    <br>

    <div>
        <label>Contraseña:</label>
        <input type="password"
               name="password"
               required>
    </div>

    <br>

    <button type="submit">
        Iniciar sesión
    </button>

</form>

</body>
</html>